@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    width: 100%;
}
@media (min-width: 450px) {
    .container {
        max-width: 450px;
    }
}
@media (min-width: 575px) {
    .container {
        max-width: 575px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 992px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}
@media (min-width: 1400px) {
    .container {
        max-width: 1400px;
    }
}

.nav-link.active {
    @apply text-blue-color
}

.nav-menu.show {
    @apply flex
}